

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight:normal;
  font-style: normal;
}
.body{
    max-width: 1200;

}

/* nav-section */

.nav-section{display: flex;
  align-items: center;
  justify-content: space-around;
  padding:20px;}
  .nav-button:hover{
    background-color: #3A36FF;
  }
  .nav-button:hover{
    color: white;
    background-color:black;
    transition: .4s;
   
  }
  .nav-button{
    background-color:#4E47FF;
    color: white;
    padding: 8px 24px;
    border-radius: 10px;
    border: none;
    font-size:14px;
    cursor: pointer;
  }

  .nav-tital{
    color: #4E47FF;
    font-size:30px;
    font-weight:900;
    font-family: "Raleway", sans-serif;
  }

  /* banner- section */

.main-section{ 
    background-image: url(./Assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
    width:1080px;
    height:600px;
    
}
.banner-heading{
    color: #252432;
    text-align: center;
    font-size:65px;
    font-weight:bold;
    padding:30px 0;
}
.btn{
    text-align: center;
    margin-bottom:20px;
}
/* action section */

.Action{
    display: flex;
    gap:40px;
    justify-content: space-between;
    padding:45px 20px;
     align-items: center;
     max-width:1080px;
     height: 400px;


}
.Action-contant{
    max-width:500px;
   

}
.Action-image{
    max-width:500px;

    
}
.Action-image img{
     border-radius:20px;
}
.action-tital{
    color: #252432;
    font-size: 35px;
    font-weight:bold;
    margin-bottom: 20px;
}
.action-description{
    color: #252432;
    font-size: 22px;
    font-weight: 400;
}

/* productive-section */

 .productive-section{
    width:400px;
    height:200px;
    padding:35px 10px;
    align-items: center;
    background-color:rgba(131, 71, 255, 0.3);
    border-radius: 20px; 
  
}
.productive-contant{
    display: flex;
}
.productive-tital{
    color: #252432;
    font-weight: bold;
    font-size:16px;
}
.product-icon{
    color:#4E47FF;
    font-weight: bold;
    font-size:40px;
    margin-right:25px;
    margin-top: 10px;

}

/* review section */

.review-tital { 
    text-align: center;
    color:#252432;
    font-weight:bold;
    font-size: 35px;
}
.user-container{
    display: flex;
    gap: 15px;
}
.user-img img{
    border-radius: 50%;
    margin-top: 22px;
    margin-left:12px;
     
}
.user-info{
    width:300px;
    height:185px;
    background-color:#F2EEED;
    border-radius:20px;
    padding: 35px;
    
}
.user-contant{
    display: flex;
    gap:12px;
}


/* focus section */

.focus-tital{
    font-size: 40px;
    font-weight: bold;
    color: #000000;
}

.focus-image{
    max-width:800px;
    margin: 0px auto;
}
.focus-image img{
    border-radius: 25px;
    margin-top: 17px;
   
   
}
.focus-section{
    width:980px;
    height:600px;
    text-align: center;
    padding:20px 24px;
    background-color: #F2EEED;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 65px;
}
